<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="Static/styles.css">

  </head>
  <body>
    <div class="macbook-air">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="overlap">
            <div class="rectangle"></div>
            <div class="element-GESTI-n-y">GESTIÓN&nbsp;&nbsp;Y DESARROLLO TURÍSTICO</div>
            <div class="div"></div>
            <img class="polygon" src="img/polygon-1.svg" />
            <img class="img" src="Fotos/logo incas.png" />
            <img class="image-removebg" src="Fotos/image-removebg-preview (2).png" />
          </div>
          <div class="overlap-2">
            <div class="rectangle-2"></div>
            <div class="ellipse"></div>
            <div class="text-wrapper"><input type="submit" value="Acceder"></div>
            <div class="ellipse-2"></div>
            <div class="rectangle-3"></div>
            <img class="rectangle-4" src="img/rectangle-49.svg" />
            <img class="rectangle-5" src="img/rectangle-50.svg" />
            <form method="POST">
                <label for="dui"> <div class="text-wrapper-2">Nombre<input type="text" name="dui" required><br></div></label>
                
                <label for="nombre"> <div class="text-wrapper-3">Estudiante<input type="text" name="nombre" required><br></div></label>
                
                <label for="estudiante"><div class="text-wrapper-4">Dui<input type="text" name="estudiante" required><br>
                </div></label>
                
                <div class="text-wrapper-5">Atras</div>
            </form>
          </div>
          <img class="ellipse-3" src="img/ellipse-4.png" />
        </div>
      </div>
    </div>
  </body>
</html>